.background-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.background-overlay {
  width: 100%;
  height: 100%;
  background-color: #04046f;
  opacity: 0.5;
  position: fixed;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}