.discord-btn {
  background-color: #5865F2;
  border-color: #5865F2;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.scores-btn {
  background-color: #04046f;
  border-color: #04046f;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}