html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.modal *, .swal2-container *, .leaderboard table *:not(i), .classified table {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}


.fullcombo {
  background-color: #ffea00 !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  #typewriter-text {
    height: 285px;
  }

  .important-btn {
    width: 80%;
  }

  #typewriter-container {
    padding-right: 25px;
    padding-left: 25px;
  }

  #youtube-container {
    width: 80%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 577px) and (max-width: 768px) {
  #typewriter-text {
    height: 180px;
  }
  
  .important-btn {
    width: 45%;
  }

  #youtube-container {
    width: 80%;
  }

  #typewriter-container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 769px) {
  #typewriter-text {
    height: 130px;
  }

  .important-btn {
    width: 30%;
  }

  #typewriter-container {
    padding-right: 55px;
    padding-left: 55px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #youtube-container {
    width: 65%;
  }
}

@media (min-width: 993px) {
  #youtube-container {
    width: 55%;
  }
}